{{ define "body" }}
<div class="form-group form-inline">
    <form method="POST" action="/todos/create">
        <input type="input" name="item" class="form-control"/>
        <input type="submit" class="form-control"/>
    </form>
</div>

{{ end }}